<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><?php echo $title; ?></title>

    <link href="<?= LIBS . 'bootstrap/css/bootstrap.css'?>" rel="stylesheet">
</head>
<body class="">
    <div class="d-flex flex-column justify-content-between min-vh-100">
        <header class="border-bottom">
            <nav class="navbar navbar-expand-md navbar-light bg-light py-3">
                <div class="container">
                    <a class="navbar-brand" href="<?php echo FULL_SITE_ROOT ?>">
                        Лого
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="<?php echo FULL_SITE_ROOT ?>">
                                    Главная
                                </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                            <?php if (Helper::checkIfUserAuthorized($this->userModel)): ?>
                                <li class="nav-item">
                                    <a class="nav-link" href="<?php echo FULL_SITE_ROOT . 'account/' ?>">
                                        Личный кабинет
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="<?php echo FULL_SITE_ROOT . 'logout/' ?>">
                                        Выйти
                                    </a>
                                </li>

                            <?php else: ?>
                                <li class="nav-item">
                                    <a class="nav-link" href="<?php echo FULL_SITE_ROOT . 'auth/' ?>">
                                        Войти
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="<?php echo FULL_SITE_ROOT . 'reg/' ?>">
                                        Регистрация
                                    </a>
                                </li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
