<?php include_once("views/common/header.html"); ?>

  <section class="flex-grow-1 mt-3 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
          <div class="card">
            <div class="card-body">
              <h4 class="m-0">
                Авторизация
              </h4>
            </div>

            <div class="card-body">
              <div class="text-danger mb-2">
                <?php echo empty($errors) ? '' : Errors::showErrors($errors); ?>
              </div>

              <form action="" method="POST">

                <div class="mb-3">
                  <label>Телефон или Email</label>
                  <input type="text" name="phone_email" class="form-control" value="<?php echo empty($_POST['phone_email']) ? '' : $_POST['phone_email']; ?>" autofocus>
                </div>

                <div class="mb-3">
                  <label>Пароль</label>
                  <input type="password" name="password" class="form-control">
                </div>

                <div id="captcha-container" class="smart-captcha mb-3" data-sitekey="ysc1_KIycXotRkiJl48yxYKZn43imq5zzEjy82SwOcvfd8cc1dd4e" style="height: 100px"
                ></div>

                <input type="submit" class="btn btn-primary" value="Войти">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<?php include_once("views/common/footer.html"); ?>